#navbar_atas {
  background-color: white;
}

.navbar-brand {
  color: black !important;
}

#logo {
  width: 200px;
}

span {
  font-size: 20px;
}

#input-text {
  width: 300px;
}

.nav a.white-text:hover {
  color: #e0e0e0 !important;
}

#navbar-kedua {
  font-size: 20px;
}

#selling {
  border: 1px solid #fa9191;
  background-color: #ffe9c5;
  color: black;
  text-decoration: none;
}
